@page "/"

<NavMenuHome/>

<div class="centered-objects">
    <h3 class="main-h3">Ти - митець</h3>
    <p class="secondary-p">Фото є творчість. Твоє бачення не обмежено рамками.</p>

    <MudGrid Justify="Justify.Center" Spacing="3">
        <MudItem>
            <div class="photo-container">
                <img src="images/main1.png" alt="photo1" />
            </div>
        </MudItem>
        <MudItem>
            <div class="photo-container">
                <img src="images/main2.png" alt="photo2" />
            </div>
        </MudItem>
        <MudItem>
            <div class="photo-container">
                <img src="images/main3.png" alt="photo3" />
            </div>
        </MudItem>
        <MudItem>
            <div class="photo-container">
                <img src="images/main4.png" alt="photo4" />
            </div>
        </MudItem>
        <MudItem>
            <div class="photo-container">
                <img src="images/main5.png" alt="photo5" />
            </div>
        </MudItem>
        <MudItem>
            <div class="photo-container">
                <img src="images/main6.png" alt="photo6" />
            </div>
        </MudItem>
        <MudItem>
            <div class="photo-container">
                <img src="images/main7.png" alt="photo7" />
            </div>
        </MudItem>
        <MudItem>
            <div class="photo-container">
                <img src="images/main8.png" alt="photo8" />
            </div>
        </MudItem>
    </MudGrid>
</div>