<div class="empty-photos-text">
    <p>Тут поки що нічого немає. Час створити свій перший допис.</p>
</div>

<div class="button-container">
    <MudButton Variant="Variant.Filled" Class="new-post-button">Створити пост</MudButton>
</div>


<style>
    .new-post-button {
        font-family: 'Sofia', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: none;
        background-color: orangered;
        color: white;
        height: 48px;
        width: auto;
        box-shadow: none;
    }

        .new-post-button:hover {
            background-color: rgba(250, 50, 10, 1);
            box-shadow: none;
        }
</style>
