

<div class="sidebar">
    <div class="sidebar-elements">
        <div class="logo-container">
            <img src="images/logo.png" alt="logo_icon" />
        </div>

        <div class="sidebar-hyperlinks-container">
            <a href="/" class="menu-item">
                <img src="images/icons/Home.png" alt="feed_icon" />
                Стрічка
            </a>

            <a href="/" class="menu-item">
                <img src="images/icons/Search.png" alt="feed_icon" />
                Пошук
            </a>

            <a href="/" class="menu-item">
                <img src="images/icons/User.png" alt="user_icon" />
                Профіль
            </a>

            <a href="/" class="menu-item">
                <img src="images/icons/Settings.png" alt="post_icon" />
                Створити пост
            </a>
        </div>
    </div>

</div>