.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
}

.sidebar-elements {
    display: flex;
    padding-left: 30px;
    gap: 70px;
    align-items: flex-start;
    flex-direction: column;
}

.sidebar-hyperlinks-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Sofia', sans-serif;
    font-size: 16px;
    font-weight: 400;
    align-items: flex-start;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.menu-item:hover {
    color: orangered;
}

.menu-header {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #34495e;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.buttons-section {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.button-container {
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.mud-button-root.nav-menu-button {
    border-width: 2px !important;
    border-color: orangered !important;
    font-family: 'Sofia', sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: none;
    font-size: 16px;
    box-shadow: none;
}

.mud-button-root.login-button {
    color: orangered !important;
    width: 120px;
    height: 38px;
}

.mud-button-root.login-button:hover {
    background-color: orangered !important;
    color: white;
}

.mud-button-root.register-button {
    background-color: orangered !important;
    color: white !important;
    width: 223px;
    height: 38px;
}

.mud-button-root.register-button:hover {
    background-color: orangered!important;
    color: black !important;
    border: solid !important;
    border-width: 2px;
    border-color: black;
}
