.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
}

.sidebar-elements {
    display: flex;
    padding-left: 30px;
    gap: 70px;
    align-items: flex-start;
    flex-direction: column;
}

.sidebar-hyperlinks-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Sofia', sans-serif;
    font-size: 16px;
    font-weight: 400;
    align-items: flex-start;
}

    .menu-item img {
        width: 24px;
        height: 24px;
    }

    .menu-item:hover{
        color: orangered;
    }

.menu-header {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #34495e;
}

.logo-container {
    display: flex;
    align-items: center;
}
